
<div class="row">
<div class="col-md-6">
    <p><%= @account.plan.name%></p>
    <p><%= @account.plan.name%></p>
    <p><%= @account.plan.name%></p>
</div>
<div class="col-md-6">
    <%= raw @account.qrcode%>
</div>
</div>
