<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="pricing-card p-3 text-center py-5 mt-2">
                transaction has been canceled
            </div>
        </div>
    </div>
</div>
