<!DOCTYPE html>
<html>
  <head>
    <title>VpnPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" ></script>
    <script src="/js/main.js"></script>  
    <script src="/js/script.js"></script>  
  </head>

  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark"> 
        <div class="container"> 
            <a class="navbar-brand text-success" href="#"> 
              MyVPN 
            </a> 
            <button class="navbar-toggler" type="button" 
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" 
                    aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
            </button> 
  
            <div class="collapse navbar-collapse"></div> 
  
            <div class="collapse navbar-collapse" 
                 id="navbarSupportedContent"> 
                <ul class="navbar-nav mr-auto"> 
                    <li class="nav-item <% if request.fullpath == "/admin/dashboard" %> active <% end %>"> 
                        <a class="nav-link" 
                           href="/admin/dashboard"> 
                          Dashboard
                          <% if(request.fullpath == "/admin/dashboard") %>
                          <span class="sr-only"> 
                            (current) 
                          </span>
                          <% end %>
                      </a> 
                    </li> 
                    <li class="nav-item <% if request.fullpath == "/admin/plans" %> active <% end %>"> 
                        <a class="nav-link" 
                           href="/admin/plans"> 
                          Plan
                          <% if(request.fullpath == "/admin/plans") %>
                          <span class="sr-only"> 
                            (current) 
                          </span>
                          <% end %>
                      </a> 
                    </li>
                    <li class="nav-item <% if request.fullpath == "/admin/accounts" %> active <% end %>""> 
                        <a class="nav-link" 
                           href="/admin/accounts"> 
                          Accounts
                          <% if request.fullpath == "/admin/accounts" %>
                            <span class="sr-only"> 
                              (current) 
                            </span>
                          <% end %>
                        </a> 
                    </li> 
                    <li class="nav-item <% if request.fullpath == "/admin/customers" %> active <% end %>""> 
                        <a class="nav-link" 
                           href="/admin/customers"> 
                          Customers
                          <% if request.fullpath == "/admin/customers" %>
                            <span class="sr-only"> 
                              (current) 
                            </span>
                          <% end %>
                        </a> 
                    </li> 
                </ul> 
            </div> 
        </div> 
    </nav>
  <br><br>
  <div class=container>
    <%= yield %>
</div>
    
  </body>
</html>
